<div class="sidebar-holder fat {{ coreService.openSideBar }}" id="sidebar-holder">
  <div class="logo"><img src="assets/images/main-logo.png" alt=""></div>
  <div class="sidebar-profile clearfix">
      <div class="sidebar-profile-image">
          <a href="javascript:void(0);" class="clearfix">
              <span>
                  <img src="assets/images/image-not-available.png" alt="image-not-available">
                  <span class="status online"></span>
              </span>
              <span class="profiler-name">
                {{userName}}
              </span>
          </a>
      </div>
  </div>
  <ul class="sidebar-nav">
      <li>
          <a routerLink="/dashboard" class="br-sb-buttons"> <span> <img src="assets/images/dashboard.png" alt="dashboard"> </span> Dashboard</a>
      </li>
      <li>
        <a routerLink="/projects" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/project-management.png" alt="project-management"> </span> Project Management</a>
      </li>
      <!--<li>
        <a routerLink="/requirenments" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/requirenment-analysis.png" alt="requirenment-analysis"> </span> Requirement Analysis</a>
      </li>-->
      <li>
        <a routerLink="/test-scenarios" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/test-management.png" alt="test-management"> </span> Test Management</a>
      </li>
      <li>
        <a routerLink="/cycles" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/test-lab.png" alt="test-lab"> </span> Test Lab</a>
      </li>
      <li>
          <a routerLink="/defects" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/defect-management.png" alt="defect-management"> </span> Defect Management</a>
      </li>
      <li>
        <a routerLink="/task-management" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/requirenment-analysis.png" alt="requirenment-analysis"> </span> Task Management</a>
      </li>
      <li>
          <a routerLink="/reports/bug-report" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/reports.png" alt="reports"> </span> Reports</a>
      </li>
      <li>
          <a routerLink="/users" routerLinkActive="active" class="br-sb-buttons"><span> <img src="assets/images/project-management.png" alt="reports"> </span> Settings</a>
      </li>
    </ul>
    <ul class="sidebar-nav secondery-list">
      <li>
          <a href="#" class="br-sb-buttons"> <span> <img src="assets/images/download-sdk.png" alt="download-sdk"> </span> Download SDK</a>
      </li>
      <li>
          <a href="#" class="br-sb-buttons"> <span> <img src="assets/images/download-api.png" alt="download-api"> </span> Download API</a>
      </li>
      <li>
          <a href="#" class="br-sb-buttons"> <span> <img src="assets/images/report-a-bug.png" alt="report-a-bug"> </span> Report a Bug</a>
      </li>
      <li>
          <a href="#" class="br-sb-buttons"> <span> <img src="assets/images/guided-tour.png" alt="guided-tour"> </span> Guided Tour</a>
      </li>
      <li>
          <a href="#" class="br-sb-buttons"> <span> <img src="assets/images/user-guide.png" alt="user-guide"> </span> User Guide</a>
      </li>
      <li>
          <a [routerLink]="['/logout']" *ngIf="currentUser.isLoggedIn()"> <span><i class="fa fa-sign-out" aria-hidden="true" style="font-size: 32px !important;"></i></span> LogOut</a>
      </li>
    </ul>
</div>


<div class="sidebar-holder {{ coreService.openSideBar }} slim d-none d-md-block" id="sidebar-holder">
  <div class="logo">
      <a href="javascript:void(null);" routerLink="/"><img src="assets/images/i-logo.png" alt=""> </a>
  </div>
  <div class="sidebar-profile clearfix">
      <div class="sidebar-profile-image">
          <a href="#" class="clearfix">
              <span>
                  <img src="assets/images/image-not-available.png" alt="image-not-available">
                  <span class="status online"></span>
              </span>
              <!-- <span class="profiler-name">
                {{userName}}
              </span> -->
          </a>
      </div>
  </div>
  <ul class="sidebar-nav">
      <li>
          <a routerLink="/dashboard" class="br-sb-buttons"> <span> <img src="assets/images/dashboard.png" alt="dashboard"> </span></a>
      </li>
      <li>
        <a routerLink="/projects" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/project-management.png" alt="project-management"> </span></a>
      </li>
      <!--<li>
        <a routerLink="/requirenments" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/requirenment-analysis.png" alt="requirenment-analysis"> </span></a>
      </li>-->
      <li>
        <a routerLink="/test-scenarios" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/test-management.png" alt="test-management"> </span></a>
      </li>
      <li>
        <a routerLink="/cycles" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/test-lab.png" alt="test-lab"> </span></a>
      </li>
      <li>
          <a routerLink="/defects" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/defect-management.png" alt="defect-management"> </span></a>
      </li>
      <li>
        <a routerLink="/task-management" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/requirenment-analysis.png" alt="requirenment-analysis"> </span></a>
      </li>
      <li>
          <a routerLink="/reports/bug-report" routerLinkActive="active" class="br-sb-buttons"> <span> <img src="assets/images/reports.png" alt="reports"> </span> </a>
      </li>
      <li>
          <a routerLink="/users" routerLinkActive="active" class="br-sb-buttons"><span> <img src="assets/images/project-management.png" alt="reports"> </span> </a>
      </li>
    </ul>
    <ul class="sidebar-nav secondery-list">
      <li>
          <a href="#" class="br-sb-buttons"> <span> <img src="assets/images/download-sdk.png" alt="download-sdk"> </span></a>
      </li>
      <li>
          <a href="#" class="br-sb-buttons"> <span> <img src="assets/images/download-api.png" alt="download-api"> </span></a>
      </li>
      <li>
          <a href="#" class="br-sb-buttons"> <span> <img src="assets/images/report-a-bug.png" alt="report-a-bug"> </span></a>
      </li>
      <li>
          <a href="#" class="br-sb-buttons"> <span> <img src="assets/images/guided-tour.png" alt="guided-tour"> </span></a>
      </li>
      <li>
          <a href="#" class="br-sb-buttons"> <span> <img src="assets/images/user-guide.png" alt="user-guide"> </span></a>
      </li>
      <li>
          <a [routerLink]="['/logout']" *ngIf="currentUser.isLoggedIn()" class="br-sb-buttons"> <span> <i class="fa fa-sign-out" aria-hidden="true" style="font-size: 32px !important;"></i></span></a>
      </li>
    </ul>
</div>
<div class="menu-btn" (click)="coreService.onOpenMenu()">
  <div class="{{ coreService.menuClass }}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
  </div>
</div>
<!-- mask for mobile menu begins -->
<div id="c-mask-right" class="c-mask {{ coreService.openMask }}" (click)="coreService.onMaskClick()"></div>
<!-- mask for mobile menu ends -->
