<div class="footer-holder clearfix">
    <div class="footer-left clearfix">
        <ul class="footer-nav">
            <li> <a href="#">Privacy</a> </li>
            <li> <a href="#">Legal</a> </li>
            <li> <a href="#">Contact</a> </li>
        </ul>
    </div>
    <div class="footer-right">
        <div class="copyrights">&copy; 2019 J2</div>
    </div>
</div>
