<div class="container">
  <div class="row">
      <div class="form-group w-100">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile" multiple name="image"
            (change)="fileProgress($event)" />
          <label class="custom-file-label lab-height" for="customFile">Choose file</label>
        </div>
      </div>
      <div *ngIf="fileUploadProgress">
        Upload progress: {{ fileUploadProgress }}
      </div>
      <div class="image-preview mb-3" *ngIf="previewUrl">
        <div *ngFor='let url of previewUrl;  let i = index' style="display: inline-block">
          <a href="javascript:void(0);" (click)="remove(i)" class="up-img-cross"><i class="fa fa-times"
              aria-hidden="true"></i></a>
          <img *ngIf="url.type==='image'" [src]="url.path" height="50" class="up-img"> <br />
          <span *ngIf="url.type!=='image'"> {{url.type}} </span>
        </div>
      </div>
      <div class="mb-3" *ngIf="uploadedFilePath">
        {{uploadedFilePath}}
      </div>
  </div>
</div>
