.up-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 2px solid #ced4da;
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 16px;


}

.up-img-cross{
    position: absolute;
    background: black;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    top: 77px;
    line-height: 1;

}

.lab-height{
    min-height: 40px;
    border-radius: 0;
    font-size: 14px;
    line-height: 2;
    &::after{
        min-height: 38px;
        line-height: 2;
    }
}